name: Generate TypeScript SDK
permissions:
  checks: write
  contents: write
  pull-requests: write
  statuses: write
  id-token: write
on:
  workflow_dispatch:
    inputs:
      force:
        description: Force generation of SDK
        type: boolean
        default: false
      set_version:
        description: optionally set a specific SDK version
        type: string
  repository_dispatch:
    types: [openapi-update]
  schedule:
    - cron: 0 0 * * *
jobs:
  generate:
    uses: speakeasy-api/sdk-generation-action/.github/workflows/workflow-executor.yaml@v15
    with:
      force: ${{ github.event.inputs.force || false }}
      mode: direct
      set_version: ${{ github.event.inputs.set_version }}
      target: typescript
      publish_with_provenance: true
    secrets:
      github_access_token: ${{ secrets.SDK_PUBLISH_GH_TOKEN }}
      speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
